<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Dandelion Client App</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/token'" class="nav-link active" aria-current="page">Token Configuration</a>
          <a [routerLink]="'/extraction'" class="nav-link active" aria-current="page">Entity Extraction</a>
          <a [routerLink]="'/similarity'" class="nav-link active" aria-current="page">Text Similarity</a>
          <a [routerLink]="'/detection'" class="nav-link active" aria-current="page">Language Detection</a>
          <a [routerLink]="'/sentiment'" class="nav-link active" aria-current="page">Sentiment Analysis</a>
        </div>
        <div class="d-flex">
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
