<div>
  <h3>Language Detection</h3>

  <div>
    <form (submit)="detectLanguage(text, clean.checked)" class="mb-5">
      <div class="form-group mb-2">
        <br>
        <label for="text">Enter text</label>
        <input type="text" class="form-control" id="text" name="text" placeholder="Text" [(ngModel)]="text">
      </div>
      <input class="form-check-input" type="checkbox" value="" id="clean" #clean>
      <label class="form-check-label" for="clean">Clean</label>
      <br><br>
      <button type="submit" class="btn btn-primary">Detect</button>

    </form>

    <h5>Detected language(s):</h5>
    <ng-template ngFor let-language [ngForOf]="detectedLangs">
    {{language.lang}} - {{language.confidence}} <br>

    </ng-template>
  </div>
</div>
